<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalc" />
                <binding name="BasicHttpBinding_ICalc1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62005/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalc" contract="XXX.ICalc"
                name="BasicHttpBinding_ICalc" />
            <endpoint address="http://localhost:62005/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalc1" contract="WsExtWCF.ICalc"
                name="BasicHttpBinding_ICalc1" />
        </client>
    </system.serviceModel>
</configuration>