<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDB1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63388/DB.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDB1" contract="WSBD1.IDB"
                name="BasicHttpBinding_IDB1" />
        </client>
    </system.serviceModel>
</configuration>