<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Apps.Properties.Settings>
            <setting name="Apps_Estruturados_Service" serializeAs="String">
                <value>http://localhost:51169/DadosEstruturados/Service.asmx</value>
            </setting>
            <setting name="Apps_NovoWS_GereHoteis" serializeAs="String">
                <value>http://localhost:2129/DBWs/Service.asmx</value>
            </setting>
        </Apps.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52999/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="HoteisWS.ServiceSoap"
                name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>