<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDB" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59966/DB.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDB" contract="WSHoteis.IDB"
                name="BasicHttpBinding_IDB" />
        </client>
    </system.serviceModel>
</configuration>
