<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SomaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SomaSoap1" />
                <binding name="CalcPlusSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CalcPlusSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44390/Services/Soma.asmx"
                binding="basicHttpBinding" bindingConfiguration="SomaSoap"
                contract="WsExt.SomaSoap" name="SomaSoap" />
            <endpoint address="https://localhost:44337/Services/Calc.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalcPlusSoap"
                contract="WsExt2.CalcPlusSoap" name="CalcPlusSoap" />
        </client>
    </system.serviceModel>
</configuration>